
html {
    min-height: 100%;
    max-width: 1920px;
    min-width: 320px;
    position: relative;
    margin: 0 auto;
    font-family: 'JetBrains Mono', monospace;
    /*font-family: 'VT323', monospace;*/
    color: greenyellow;
    background-color: darkgreen;
}
select, input{
    /*color: greenyellow;*/
    color: darkolivegreen;
    font-weight: 900;
    /*background-color: darkolivegreen;*/
    background-color: greenyellow;
    /*border-color: darkolivegreen;*/
    border-color: chartreuse;
    transition: all 0.5s;
    outline: none;
}
/*select:focus, input:focus{*/
/*    background-color: khaki;*/
/*    border-radius: 0;*/
/*    border-color: darkkhaki;*/
/*    transition: all 0.5s;*/
/*}*/
/*select::selection, input::selection{*/
/*    background-color: red;*/
/*    transition: all 0.5s;*/
/*}*/
/*select:hover, input:hover{*/
/*    background-color: khaki;*/
/*    transition: all 0.5s;*/
/*}*/

select:active, select:hover {
    outline: none
}

option:active{
    background-color: green;
    color: chartreuse;
}

img{
    width: 100%;
}

body{
    margin: 0;
}

.main_screen{

}
/*-------------------- scrollbar -------------------*/
/* width */
::-webkit-scrollbar {
    width: 8px;
    height: 8px;
}

/* Track */
::-webkit-scrollbar-track {
    background: green;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: greenyellow;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: grey;
}


/*logs start*/
.logs_screen{
    background-color: darkgreen;
    width: 100%;
    height: 100vh;
    top: 0;
    position: absolute;
}
.logs_screen .buttons{
    margin: 6px;
}
.logs_header{
    width: 98%;
    background-color: green;
    margin: 1%;
    display: flex;
    border: 1px solid chartreuse;
}
.logs_header_filter_buttons{

}
.logs_work_area{
    background-color: green;
    width: 98%;
    height: 88vh;
    margin: 1%;
    overflow-y: scroll;
    border: 1px solid chartreuse;
}

.logs_block{
    border-bottom: 1px solid chartreuse;
}
.logs_block_header{
    display: flex;
    font-size: 14px;
}
.logs_block_title{
    margin: auto 10px;
}
.logs_block_title_time{
    margin: auto 10px;
}
.logs_block_buttons{

}
.logs_block_content{
    margin: 0 10px 6px 10px;
    background-color: darkgreen;
    height: 0;
    overflow-y: hidden;
}
.logs_block_content.active{
    height: auto;
    border: 1px solid chartreuse;
}

.log_item{
    display: flex;
    flex-wrap: wrap;
    word-break: break-all;
    border-bottom: 1px solid green;
    /*border-radius: 5px;*/
    font-size: 12px;
    margin: 2px;
}


.log_btn_filter{
    background-color: gray;
}
#btn_filter_info.active{
    background-color: cadetblue;
}
.log_info{
    color: cadetblue;
}
#btn_filter_socket.active{
    background-color: palevioletred;
}
.log_socket{
    color: palevioletred;
}
#btn_filter_request.active{
    background-color: beige;
}
.log_request{
    color: beige;
}
#btn_filter_response.active{
    background-color: aqua;
}
.log_response{
    color: aqua;
}
#btn_filter_response_error.active{
    background-color: coral;
}
.log_response_error{
    color: coral;
}
#btn_filter_error.active{
    background-color: coral;
}
.log_error{
    color: coral;
}
#btn_filter_debug.active{
    background-color: yellow;
}
.log_debug{
    color: yellow;
}
#btn_filter_warning.active{
    background-color: darkorange;
}
.log_response_warning{
    color: darkorange;
}

.log_item_sub{
    margin: 2px;
}
.log_time_container{

}
.log_key{

}
.log_from{

}
.log_action{

}
.log_data{

}
.log_msg{

}
.log_error{

}
.log_code{

}


/*logs end*/
.hide_view{
    display: none !important;
}
#info_sock{
    border: 1px solid;
    margin: 8px;
    padding: 8px;
    height: 90vh;
    overflow-y: scroll;
}

select, input, .buttons, .button_toggle{
    min-width: 5vw;
    min-height: 3vw;
    font-size: 20px;
    font-family: 'JetBrains Mono', monospace;
    /*font-family: 'VT323', monospace;*/
}

.buttons, .button_toggle{
    text-transform: uppercase;
    /*font-family: "TT Norms Bold";*/
}

.rest_model_block{
    display: flex;
    margin: 2vh 0 10vh 0;
}
.block_title{
    text-transform: uppercase;
    font-size: 2.2vw;
    text-align: center;
    /*font-family: "TT Norms Bold";*/
}
.rest_model_block_item_content{
    border: 1px solid chartreuse;
    overflow-y: scroll;
    height: 80vh;
}
.main_rest_item{
    border: 1px solid chartreuse;
    overflow-y: scroll;
    position: absolute;
    background-color: green;
    width: 48vw;
    height: 18vh;
    margin: 3.6vw 0 0 8px;
}

#rest_block{
    margin-top: 20vh;
    height: 60vh;
    background-color: green;
}
#model_block{
    background-color: green;
}
#socket_emit_block{
    background-color: green;
}

.rest_model_block_item{
    width: 50%;
    margin: 8px;
}

.model_item{
    border: 1px chartreuse solid;
    margin: 8px;
    padding: 8px;
    background-color: darkgreen;
}
.model_item_name{
    display: block;
    text-align: center;
    border-bottom: greenyellow solid;
    margin: 10px 0;
    text-transform: uppercase;
    /*font-family: "TT Norms Bold";*/
}

.list_title{
    text-transform: uppercase;
}

.notification_block {
    width: 50vw;
    /*height: 50vh;*/
    position: fixed;
    border: 1px solid;
    z-index: 100;
    overflow-wrap: break-word;
    display: flex;
    flex-flow: column;
}

.main_notification {
    margin: 25vh 25vw;
    background-color: black;
}

.socket_notification {
    margin: 0 25vw 25vh 48vw;
    background-color: blue;
}

.rest_notification {
    margin: 0 25vw 25vh 48vw;
    /*background-color: coral;*/
    background-color: black;
}

.notification_text{
    text-transform: uppercase;
    margin: 20px;
    text-align: center;
}

.notification_text_info{
    margin: 20px;
}
.notification_block .buttons{
    margin: 30px auto;
}

.rest_info{
    overflow-y: hidden;
    border: 1px solid red;
    padding: 4px;
}
.block_toggle{
    overflow-y: hidden;
    border: 1px solid chartreuse;
    padding: 4px;
    background-color: green;
    overflow-wrap: break-word;
}
.buttons_block{
    display: flex;
    justify-content: space-around
}

.info{
    margin-bottom: 20px;
    display: flex;
    margin-top: 20px;
    justify-content: space-between;
    width: 100%;
    overflow-wrap: break-word;
    border: 1px solid chartreuse;
    background-color: green;
}
.main_form_block_info{
    margin: auto 8px;
}
.main_form_block{
    display: flex;
    justify-content: space-between;
    width: 100%;
}
.info .buttons_block{
    margin: auto 2vw auto auto;
}
#list_current{
    margin: auto;
}


.info_actions_block{
    display: flex;
}

.item_header, .item_model_header{
    margin: 10px;
    display: flex;
    justify-content: space-between;
    border-bottom: 2px greenyellow solid;
}
.item_header{
    border-bottom: 3px solid lime;
}
.item_title{
    margin: auto;
    text-transform: uppercase;
    /*font-family: "TT Norms Bold";*/
}

#socket_console_block{
    overflow-wrap: break-word;
    background-color: green;
    border: 1px solid chartreuse;
}


.console_buttons{
    position: absolute;
    right: 36px;
}
.info_sock_console__item{

}
.console_item_rest_out{
    color: bisque;
    border: 1px solid bisque;
}
.console_item_rest_in{
    color: darkorange;
    border: 1px solid darkorange;
}
.console_item_sock_out{
    color: darkblue;
    border: 1px solid darkblue;
}
.console_item_sock_in{
    color: darkblue;
    border: 1px solid darkblue;
}
.console_item_error{
    color: brown;
    border: 1px solid brown;
}
.console_item_debug{
    /*color: black;*/
    color: greenyellow;
}
.console_item_else{
    color: darkgrey;
    border: 1px solid darkgrey;
}

.parse_obj_main{
    display: flex;
    flex-flow: column;
    border-left: 1px solid rgba(0,0,255,0.2);
}

.parse_arr_main{
    display: flex;
    flex-flow: column;
    border-left: 1px solid rgba(255,0,0,0.2);
}

.parse_arr_item{
    margin-left: 20px;
}

.parse_obj_item{
    margin-left: 20px;
}

.button_expand_arr, .button_expand_obj{
    width: 24px;
    height: 24px;
    min-width: auto;
    min-height: auto;
    font-size: 18px;
}

@media only screen and (max-width: 1280px) {
    html{
        font-size: 28px;
    }
    .info .buttons_block{
        flex-flow: column;
    }

    .info{
        margin: 0px;
    }
    #info_config{

    }

    .block_title{
        font-size: 36px;
    }

    .rest_model_block{
        flex-flow: column;
    }
    .rest_model_block_item{
        width: 80vw;
        margin: 10px auto;
    }
    .main_rest_item{
        width: 80vw;
        margin: 5vh 0 0 50vw;
        left: -42vw;
    }

    .rest_model_block_item_content{
        height: auto;
        max-height: 80vh;
        overflow-x: hidden;
    }
    #rest_block{
        height: auto;
    }
    select, input, .buttons, .button_toggle{
        font-size: 36px;
    }
    .buttons, .button_toggle{
        min-width: 12vw;
        min-height: 10vw;
    }

}

@media only screen and (min-width: 1400px) {
    .block_title{
        font-size: 24px;
        height: 4vh;
        z-index: -100;
    }
    section {
        width: 50%;
        margin-top: 12vh;
    }
    section>.block_title{
        position: absolute;
        width: 50%;
        margin-top: -5vh;
    }
    section>.buttons_block{
        height: 12vh;
    }
    section>.buttons_block>.buttons{
        margin: auto;
    }
    .base_block_content{
        display: flex;
        margin-top: -120px;
    }

    .rest_model_block{
        margin: 0;
    }
    .rest_model_block_item{
        width: 48%;
    }
    .main_rest_item{
        width: 24vw;
        margin: 5vh 0 0 8px;
    }

    .info{
        width: 50%;
    }
    select, input, .buttons, .button_toggle{
        min-width: 3vw;
        min-height: 2vw;
        font-size: 16px;
    }
}

